body {
  background-color: rgb(19, 23, 39);
  color: white;
}
div img {
width: 100%;
}
div.info
{
  width: 74%;
}
div.serie1 {
  width: 24%;
}
div.total
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
div.info h2.infoo
{
  font-weight: lighter;
  font-size: 18px
}
div.info h2.titulo {
  font-size: 25px
}
div.info h2 {
  font-size: 15px;
  font-weight: lighter;
}
footer {
  background-color: rgba(255, 255, 255, 0.05);
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none
}
.footer li.nombre {
  padding: inherit;
}
#barra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.05);
}
.navegador {
  list-style-type: none;
}
.navegador li {
  display: inline;
  padding: inherit;
}
.navegador li:hover {
  color: rgb(235, 99, 107);
}
h2.recon{
  margin-left: 65px;
  font-size: 15px;
  font-weight: lighter;
  text-decoration: underline;
}
h2.recon:hover {
  color: orange;
}
div.rr1 {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.recomendaciones {
  margin-left: 2%;
  width: 15%;
}
.recomendaciones img {
  width: 100%;
}
@media (min-width: 768px){
}
@media (min-width: 992px) {

}
@media (min-width: 480px) {

}
