*{
  box-sizing: border-box;
}
body {
  font-family: helvetica;
  background-color: rgb(19, 23, 39);
  color: white;

}

#barra{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: rgba(255, 255, 255, 0.05);
}

.navegador a:hover{
  color: rgb(235, 99, 107);

}


.navegador {
list-style-type: none;
}

.navegador li {
  display: inline;
  padding: inherit;
  font-weight: 500;
}

ul li img{
  width: 30%;
}

.navegador li a{
  color: white;
  text-decoration: none;
}

.buscador{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20%;
}

form{
  display: inline;
}
form .white{
  background-color: rgba(255, 255, 255, 0.7);
  border: 0px;
  height: 25px;
}

.lupita{
  position: relative;
  width: 20px;
  left: -26px;
  bottom: -7px;
}
.lupa{
  background-image: url();
  position: relative;
  left: -55px;
  display: none;
}


@media (min-width: 451px) and (max-width: 750px){}

@media (max-width: 450px){}
