
*{
  box-sizing: border-box;
}
body {
  font-family: helvetica;
  background-color: rgb(19, 23, 39);
  color: white;

}

#barra{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: rgba(255, 255, 255, 0.05);
}

.navegador a:hover{
  color: rgb(235, 99, 107);

}

.textof h3{
  text-transform: uppercase;
  font-size: 3vw;
  margin-bottom: 0%;
}

.textof h3:hover{
    color: rgb(235, 99, 107);
}

.textof h4{
  font-size: 2vw;
  font-weight: lighter;
  margin-top: 2%;
}

.textof h5{
    margin-top: 2%;
    padding-left: 2%;
    font-size: 1.5vw;
}

.sem{
  display: flex;
  flex-wrap: wrap;
}

.navegador {
list-style-type: none;
}

.navegador li {
  display: inline;
  padding: inherit;
  font-weight: 500;
}

.navegador li a{
  color: white;
  text-decoration: none;
}

.contenedor{
  width: 85%;
  margin: 0 auto;
}

.favsemana{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.textof{
  width: 65%;
}

.puntuadas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.punt img{
  width: 100%;
  -webkit-box-shadow: 0 3px 5px rgba(255, 255, 255, 0.1);
}

.punt{
  position: relative;
  width: 16%;
}

.punt h5{
  width:100%;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  position: absolute;
  margin: 0;
  padding: 12%;
  padding-top: 20%;
  /* top: 65%; */
  bottom: 0;
  /* left: 7%; */
  text-transform: uppercase;
  hyphens: auto;
}

.punt h6{
  width:100%;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  padding-top: 10%;
  padding-left: 75%;
  background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}
.punt h6 ion-icon{
  color: gold;
}
.favoritas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fav img{
  width: 80%;
  -webkit-box-shadow: 10px 20px 5px black;
}

.fav{
  position: relative;
  width: 16%;
}

.fav h5{
  position: absolute;
  top: 65%;
  left: 7%;
  text-transform: uppercase;
}

.fav h6{
  position: absolute;
  top: -8%;
  left: 77%;
}

.alaire{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tv img{
  width: 80%;
  -webkit-box-shadow: 10px 20px 5px black;
}

.tv{
  position: relative;
  width: 16%;
}

.tv h5{
  position: absolute;
  top: 65%;
  left: 7%;
  text-transform: uppercase;
}

.tv h6{
  position: absolute;
  top: -8%;
  left: 77%;
}

.titulo{
  padding-top: 7%;
}
.favsemana .textof h2{
  padding-top: 7%;
}

.punt h5:hover{
  color: rgb(235, 99, 107);
}

.fav h5:hover{
  color: rgb(235, 99, 107);
}

.alaire h5:hover{
  color: rgb(235, 99, 107);
}

.div ion-icon{
  color: gold;
}


ul .buscar{
  padding-right: 30px;
}

ul li ion-icon:hover{
  color: rgb(235, 99, 107);
}
 footer{
   height: 20%;
   background-color: rgba(255, 255, 255, 0.05);
   padding-top: 3%;
   padding-bottom: 3%;
   margin-top: 2%;
 }

footer ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer ul li{
  padding-right: 4%;

}

footer img{
  width: 20%;
}

.favsemana img.{

}

@media (max-width: 450px){

  .punt{
    position: relative;
    width: 47%;
    }


}

@media (min-width: 451px) and (max-width: 750px){

  .punt{
    position: relative;
  width: 32%;
    }
